<div class="jumbotron text-center">
  <h1>Verify Mobile</h1>
  <p>Please enter your Mobile Number.</p>
  <div class="main-fa">
    <i class="fa fa-mobile fa-3x" aria-hidden="true" ></i>
  </div> 
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <input type="text" name="India" value="India">
      </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <input type="text" name="India" value="91">

        </div>
        <div class="col-md-9">
            <input type="text" name="India" value="" placeholder="Please enter the mobile no">
          </div>
      </div>

      <a href="#">Tearm and conditions</a>
      </div>

